{% extends 'base.html' %}

{% block content %}<h1> {{ direction }} </h1>


<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for hotel in hotels %}
            <div class="col">
                <div class="card shadow-sm">
                    <!-- Замените этот путь на URL изображения с интернета для проверки -->
                    <img src="{{ hotel.url_img }}" class="card-img-top" width="100%" height="225" alt="Thumbnail">
                    <div class="card-body">
                        <p class="card-text">{{ hotel.name }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            {{ hotel.advantage }}
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}